streamlit
pymupdf
numpy==1.23.5
spacy==3.5.4
pycountry
scikit-learn
pandas
matplotlib
seaborn
thinc==8.1.8
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
wordcloud
gdown
